<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cb9232b9-1012-4323-8bf8-778c18466ccb" Publisher="CN=trelford.com" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PacMan</DisplayName>
    <PublisherDisplayName>Phil Trelford</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PacMan.App.Metro.App">
      <VisualElements DisplayName="PacMan" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PacMan retro game" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
      </VisualElements>
    </Application>
  </Applications>
</Package>